.app {
  background-color: green;
  height: 50px;
  border: 1px solid blue;
}

.mts {
	margin-top: 14px;
}

.mtm {
	margin-top: 18px;
}

.mtl {
	margin-top: 24px;
}

.mtxl {
	margin-top: 40px;
}

.mls {
	margin-left: 14px;
}

.mlm {
	margin-left: 14px;
}

.mll {
	margin-left: 24px;
}

.mlxl {
	margin-left: 40px;
}

.pvm {
	padding-top: 10px;
	padding-bottom: 10px;
}

.ptxl {
	padding-top: 40px;
}

.ptxxl {
	padding-top: 80px;
}

.bap {
  background-color: red;
  height: 25px;
}

.grey {
	color: #888282;
}
tr {
    background-color: rgba(21, 163, 198, 0.26);
}



